.modal {
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $box-shade;
    width: 100%;
    height: 100vh;
  }
  &__form {
    width: 500px;
    margin-top: 50px;
    background-color: white;
    padding: 30px 15px;
    border-radius: 15px;
    position: relative;
    @include boxShade($box-shade);
  }
}
.fa-times {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
